* {
    box-sizing: border-box
}

body {
    background-color:rgb(21, 21, 21);
    margin: 0 ;
    padding: 0;
    color: white;
}

.main-header {
    background-color:rgba(255, 255, 255, .3);
    padding: 5% 2% 0 5%;
}

.main-header-container {
    display: flex;
    align-items: end;
}

.main-header-container h1 {
    text-align: end;
    margin: 0;
    padding: 1% 0;
}

.main-header-container .nav {
    flex-grow: 1;
    text-align: end;
    padding: 0;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

.nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1% 3%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

section {
    margin: 2% 5%;
    padding: 0;
}

.img-text-container {
    display: flex;
    align-items: center;
    background-color:rgba(155, 155, 155, 0.3);
    padding: 0;
    margin: 15px 0;
    border-radius: 25px;
}

.img-text-container img {
    flex-grow: 1;
    margin: 2%;
    max-height: 500px;
    max-width: 50%;
    border-radius: 25px;
}

.img-text-container video {
    flex-grow: 1;
    margin: 2%;
    max-height: 300px;
    max-width: 50%;
}

.img-text-container .text {
    flex-grow: 1;
    margin: 2%;
}

.resume-page-container {
    display: flex;
    align-items: flex-start;
}

.resume-page-container .left-container {
    flex-grow: 1;
    min-width: 50%;
    margin: 2%;
    background-color:rgba(155, 155, 155, 0.3);
    padding: 25px;
    border-radius: 25px;
}

.left-container p {
    font-size: 14px;
}

.left-container li {
    font-size: 14px;
}

.resume-page-container .right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.resume-page-container .right-container .experience {
    background-color:rgba(155, 155, 155, 0.3);
    padding: 25px;
    border-radius: 25px;
}

.experience h2 {
    text-align: center;
}

.resume-page-container .right-container embed {
    flex-grow: 1;
    width: 100%;
    height: 500px;
    margin: 10% 0;
}

section h2 {
    margin: 0;
    padding: 0;
}

.contact {
    text-align: center;
}

.contact a {
    color: white;
}