* {
    box-sizing: border-box
}

body {
    background-color:rgba(20, 20, 20, .4);
    margin: 0 ;
    padding: 0;
    color: white;
    background-image: url("images/background7.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

.about-me {
    background-color:rgba(20, 20, 20, .4);
    background-image: url("images/background5.jpg");
}

.resume {
    background-color:rgba(20, 20, 20, .4);
    background-image: url("images/background7.jpg");
}

.projects {
    background-color:rgba(2, 2, 2, .9);
    background-image: url("images/background6.jpg");
}

.goals {
    background-color:rgba(2, 2, 2, .9);
    background-image: url("images/background3.jpg");
}

.contact {
    background-color:rgba(2, 2, 2, .9);
    background-image: url("images/background4.jpg");
}

.main-header {
    background-color:rgba(86, 86, 86, 1);
    padding: 5% 2% 0 5%;
}

.main-header-container {
    display: flex;
    align-items: end;
}

.main-header-container h1 {
    text-align: end;
    margin: 0;
    padding: 1% 0;
}

.main-header-container .nav {
    flex-grow: 1;
    text-align: end;
    padding: 0;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

.nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1% 3%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

section {
    margin: 2% 5%;
    padding: 0;
}

.projects-header {
    text-align: center;
    font-size: 30px;
}

.img-text-container {
    display: flex;
    align-items: center;
    background-color:rgba(83, 83, 83, 0.7);
    padding: 0;
    margin: 30px 0;
    border-radius: 25px;
    flex-wrap: wrap;
}

.img-text-container img {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 2%;
    max-height: 500px;
    width: 50%;
    object-fit: cover;
    border-radius: 25px;
}

.img-text-container .uno {
    border-radius: 0;
}

.img-text-container video {
    flex-grow: 1;
    margin: 2%;
    max-height: 300px;
    max-width: 50%;
}

.img-text-container .text {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 2%;
}

.resume-page-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.resume-page-container .left-container {
    flex-basis: 250px;
    flex-grow: 1;
    min-width: 50%;
    margin: 2%;
    background-color:rgba(83, 83, 83, 0.7);
    padding: 25px;
    border-radius: 25px;
}

.left-container p {
    font-size: 14px;
}

.left-container li {
    font-size: 14px;
}

.resume-page-container .right-container {
    flex-basis: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.resume-page-container .right-container .experience {
    background-color:rgba(83, 83, 83, 0.7);
    padding: 25px;
    border-radius: 25px;
}

.experience h2 {
    text-align: center;
}

.resume-page-container .right-container embed {
    flex-grow: 1;
    width: 100%;
    height: 500px;
    margin: 10% 0;
}

section h2 {
    margin: 0;
    padding: 0;
}

.contact-text {
    text-align: center;
    margin: 5%;
}

a {
    color:lightskyblue;
}